{% load static %}
<div id="preloader">
    <div id="ctn-preloader" class="ctn-preloader">
        <div class="animation-preloader">
            <div class="spinner" style="position:relative;display:flex;align-items:center;justify-content:center;border-color:rgba(17,41,74,0.2);border-top-color:#11294a;">
                <img src="{% static 'images/logo/emmaus-logo.png' %}" alt="Emmaus Import Export" style="height:90px;position:absolute;">
            </div>
        </div>
        <div class="loader">
            <div class="row">
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-left">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
                <div class="col-3 loader-section section-right">
                    <div class="bg"></div>
                </div>
            </div>
        </div>
    </div>
</div>
